*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar{
    position: fixed;
    background-color: #18929D;
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;


}
nav{
    position: fixed;
    background-color: #18929D;
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

nav ul{
    justify-content: center;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px;
    padding-left: 15%;
    cursor: pointer;
    
}
nav li{
    margin-left: 2px;
    padding:3px;
    cursor: pointer;
}
nav li a{
    text-decoration: none;
    color: #ffff;
    font-size: 18px;
    font-weight: 500;
    padding: 0 18px;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}
nav li a:hover{
background-color: white;
color: rgb(10, 226, 241);
cursor: pointer;
}
.div{
    display: flex;
    height: 88%;
    align-items: center;
   
}
.titulo1{
    text-align: center;
}
.a{
    padding: 0 15px;
}
.conteudo{
    justify-content: center;
    align-items: center;
    padding-left: 35%;
    display: flex;
   
}
.conteudo.btn{
align-items: end;
padding: 20px;
}
.conteudo .text-conference{
text-align: center;    
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.slidep .carousel-indicators{
    z-index: 0;
}

/*Estilizando o botão mure das conferencia*/
.card ul{
list-style: none;
justify-content: center;
cursor:pointer;
}
.card ul a{
    text-decoration: none;
    text-align: start;
}
img{
    width: 500px;
    height: 340px;
}
 a img:hover{
    opacity: 0.7;
}
#main{
    padding-top: 70px;
}
.footer{
    border-radius: 5px;
    background-color:  #0D6EFD;
    color: #050808;
    text-align: center;
    height: 20vh;
}
.side{
    align-self: center;
    justify-content: center;
    width: 100%;
    height: 55vh;
}
.slide-section{
    justify-content: center;
    align-items: center;
    margin-left: 4%;
    padding-top: 9px;
    margin-top: 0;
}
.side img{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55vh;
}
#slide-conteine{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;

}
.slidep{
    width: 100%;
    margin-left: 2px;
    margin-right: 2px;
}
.carousel-item .row {
    display: flex;
    padding-left: 5px;

}
.carousel-item .row .col img{
    width: 10%;
}
.text-conferencet{
    text-align: center;
  

}
.conteudo{

padding-right: auto;
padding-left: auto;
}
.slidep .carousel {
    height: auto;
    overflow: hidden;
}
.card{
 width: 20%;
 
 border-radius: 10px;
 border: 2px solid ;
}
/*Enfeito carrocel*/


/*in da estilização do botão /*
/*Estilizando a página de secções*/
